* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
/*----------------------*/

.category {
    padding: 0 16px;
    margin-top: 60px;
}

.category-details a img{
    margin-top: 20px;
}

/*----------------------*/

.menu {
    height: 45px;
    position: fixed;
    padding: 5px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: white;
    border-top: 0.2px solid black;
}

.menu-details ul li a {
    color: #454545;
    font-size: 25px;
    padding: 10px;
}

.menu-details ul {
    display: flex;
    justify-content: space-between;
}