/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Nanum+Gothic:wght@400;700;800&family=Noto+Sans+KR:wght@400;500;700&display=swap');

:root {
    /* color */
    --link-color: #757171;

    /* font */
    --body-font: "Nanum Gothic", serif;
    --h1-font-size: 2rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;   /* 16px */
    --small-font-size: 0.8rem;
    --smaller-font-size: 0.6rem;
    --font-regular: 400;
    --font-bold: 700;
    --font-extra-bold: 800;
}
body {
    font-family: var(--body-font);
}
.show-card {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

@media screen and (min-width:0) {
    .container {
        text-align: center;
    }
    .card-item {
        padding: 5px 10px;
    }
    .color-box {
        width: 150px;
        height: 150px;
        background-color: #0000ff;
        border-radius: 10px;
        margin-right: 25px;
    }
    .contents {
        display: flex;
        font-size: var(--h3-font-size);
    }
    .text-box {
        text-align: left;
    }
    .color-link {
        display: flex;
        width: 160px;
        height: 40px;
        background-color: var(--link-color);
        border-radius: 20px;
        align-items: center;
        color: #fff;
    }
    .more {
        font-size: var(--normal-font-size);
        padding: 10px 5px;
    }
    .circle {
        margin: 0 10px;
    }
    .text {
        margin-right: 30px;
    }
    .color-link-circle {
        width: 25px;
        height: 25px;
        background-color: #0000ff;
        border-radius: 20px;
    }
    .range {
        font-size: var(--normal-font-size);
        color: #414141;
        padding: 5px 0;
    }
    input {
        width: 160px;
        height: 5px;
        accent-color: #aaa;
    }
    .hidden-card {
        display: none;
    }
    #color-picker-image {
        width: 390px; /* 이미지의 너비를 부모 요소의 100%로 설정 */
        max-width: 100%; /* 이미지의 최대 너비를 부모 요소의 100%로 설정 */
        height: auto; /* 이미지의 높이는 자동으로 조절하여 가로세로 비율 유지 */
    }
}