
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/card.css">
    <title>card</title>
</head>
<body>
    <footer>
        <card class="container">
            <div class="nav-toggle card-item" id="nav_toggle">
                <i class="bi bi-list"></i>
            </div>

            <div class="contents card-item">
                <div class="color-box"></div>
                <div class="text-box">
                    <div class="enter">
                        <span class="color">검은색</span><br>
                        <span class="color-code">색상코드_1E0A0A</span><br>
                    </div>
                    <span class="more">더보기</span><br>
                    <div class="color-link">
                        <div class="color-link-circle circle"></div>
                        <span class="color-link-text text">검은색</span>
                        <i class="bi bi-chevron-double-right"></i>
                    </div>
                </div>
            </div>
        </card>
    </footer>
</body>
    <script src="js/card.js"></script>
</html>